events {}
http { 
        upstream backend {
                server 10.26.1.167:8080;
                server 10.26.1.217:8080;
                server 10.26.1.163:8080;
        }
server {
  listen 80;
    location / { 
    proxy_pass http://backend;
   }
}
server {
  listen 81;
     location /nginx_status {
     stub_status on;
     access_log off;
     allow 10.26.1.208;
     deny all;
  }
 }
}

